.hexer-editor {
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;
    color: purple;
}

.hexer-canvas-area {
    flex: 1 1 0;
    position: relative;
    overflow: hidden;

    background: red;
}

.hexer-sidebar {
    flex: 0 0 20%;

    background: lightblue;
}

.hexer-sidebar-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    background: yellow;
}

.hexer-sidebar-section-icon {
    background: green;
}

.hexer-sidebar-section-label {
    text-align: center;

    background: orange;
}

.hexer-sidebar-section-chevron {
    background: pink;
}

.hexer-tools {
    position: absolute;
    right: var(--size-4-3);
    bottom: var(--size-4-3);

    height: 100px;
    width: 50px;
    background: lime;
}