.hexer-editor {
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;
    color: purple;
}

.hexer-canvas-area {
    flex: 1 1 0;
    position: relative;
    overflow: hidden;

    background: red;
}

.hexer-sidebar {
    flex: 0 0 20%;
    color: var(--text-normal);
    font-size: var(--font-smaller);
    font-weight: var(--font-semibold);
}

.hexer-sidebar-section-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 12px;
    width: 100%;
    
    &:hover {
        background: var(--background-modifier-hover);
        cursor: pointer;
    }
}

.hexer-sidebar-section-icon,
.hexer-sidebar-section-chevron {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hexer-sidebar-section-label {
    text-align: center;
}

.hexer-tools {
    position: absolute;
    right: var(--size-4-3);
    bottom: var(--size-4-3);

    height: 100px;
    width: 50px;
}